/**
 * Styles for the add-observation.html page 
 */
.required {
  color: red;
}
#_obsdesc {
  width: 495px;
}
#_obsnotes {
  width: 495px;
}
#_PhotographName {
  width: 495px;
}
#_PhotographerEmail {
  width: 495px;
}
#P_license {
  width: 495px;
}
